<div class="container" align="center">
    <h1 style = 'font-size: 3vw;'>Password Recovery</h1>
    <form ngNativeValidate #passwordRecoveryForm="ngForm" (ngSubmit)="onSubmit(recoveryForm)" >
            
        <div class="form-group">
            <input type="email"  placeholder="Email address" class="form-control" id="email" required
                [(ngModel)]="email" name="email">
        </div>
           
        <button type="submit" class="btn btn-success">Submit</button>
        <button routerLink="/login" routerLinkActive="active" class= 'btn'>Cancel</button>
    </form>    
</div>
