<div class="container" align="center">
    <h1>Registration Form</h1>
    <form ngNativeValidate #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" >
      <div class="form-group">
        <input type="text" placeholder="First name" class="form-control" id="firstName" required
        [(ngModel)]="firstName" name="firstName">
      </div>

      <div class="form-group">
        <input type="text" placeholder="Last name" class="form-control" id="lastName" required
        [(ngModel)]="lastName" name="lastName">
      </div>
      
      <div class="form-group">
        <input type="email"  placeholder="Email address" class="form-control" id="email" required
        [(ngModel)]="email" name="email">
      </div>
      
      <div class="form-group">
		  <select class="form-control" id="location" required
		  [(ngModel)]="location" name="location">
		    <option *ngFor="let location of locations" [value]="location">{{location}}</option>
		  </select>
	  </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>